@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
   --color1:#000;
   --color2:#FFF;
   --color3:#0000FF;
   --color4:#00FA9A;
   --color5:#8B0000;
   --color6:#FFD700;
   --font-family:"Marvel", sans-serif;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family:var(--font-family) 
}
body{
  background: var(--color3);
}
section{
  width: 100%;
  height: 50vh;
}